
/*--------------- header start here --------------- */

/*--------------- img cover --------------- */

#imgHeader{
	background-image: url(../img/photoIndex.jpg);
    background-size: cover;
    opacity: 0.6;
    height: 100vh;
    width: 100%;
}

#filter{
	background-color : var(--filter);
	height: 100vh;
	position: relative;
    overflow: hidden;
}

/*--------------- line one & two --------------- */

.sarl:before{
	
	margin-top: 2vh;
	margin-left: 20%;
	content: ' ';
	float: left;
	background: white;
	height: 2px;
	width: 100px;
}

.sarl:after{
	margin-top: 2vh;
	margin-right: 20%;
	content: ' ';
	float: right;
	background: white;
	height: 2px;
	width: 100px;
}

/*--------------- block text --------------- */

#titleHeader{	
	text-align: center;
	color : var(--colorWhite);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
}

.sarl{
	font-family: "Thryn";
	font-size: 3vh;
	transform: translate(0%, 90%);
}

#kaufmann{
	font-size: 12vh;
	font-family: "Thryn";
}

#textOne{
	margin-top: 5vh;
	font-size: 4vh;
	font-family: "Thryn";
	transform: translate(0%, -50%);
}

/*--------------- icon scrollDown --------------- */

#animGif{
	background-image: url(../img/scrollDown.gif);
	background-size: cover; 
	background-repeat: no-repeat;
	position: absolute;
    height: 20vh;
    width: 20vh;
    margin-left: 40%;
    bottom: -80%;
}

/*--------------- header ends here --------------- */

/*--------------- media queries --------------- */

@media(max-width: 900px) {

#titleHeader{
    top: 50%;
    left: 50%;
    }

    #kaufmann{
    font-size: 7vh;
    text-align: center;
	color : var(--colorWhite);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    }

    #textOne{
	margin-top: 17vh;
	font-size: 2.5vh;
	font-family: "Thryn";
	transform: translate(0%, -50%);
    }

    .sarl{
	font-family: "Thryn";
	font-size: 3vh;
	transform: translate(-10%, 100%); 
    }

    .sarl:before{	
	margin-left: 10%;
	float: left;
	background: white;
	height: 2px;
	width: 50px;
    }

    .sarl:after{
    margin-top: 7%;	
	margin-right: -25%;
	float: right;
	background: white;
	height: 2px;
	width: 50px;
    }

    #animGif{
	background-size: cover; 
	background-repeat: no-repeat;
	position: absolute;
    height: 20vh;
    width: 20vh;
    margin-left: 25%;
    bottom: -100%;
    }
}