/*--------------- basic styling --------------- */
*{
	margin: 0%;
    padding: 0%;
    list-style:none;
    text-decoration:none;
    --colorBlue : rgba(11,36,91,0.8);
    --colorWhite : rgba(255,255,255,1);
    --colorGrey : rgba(64,64,64,1);
    --titresIcones : rgba(11,36,91,1);
    --filter : rgba(5,18,87,0.6);
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("../public/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Thryn";
    src: url("../../public/fonts/Thryn.ttf") format("truetype");
}

.titleNav{
    padding: 5% 0%;
    font-family: "Thryn";
    color: var(--colorBlue);
    text-align: center;
}

.texteSection{
    padding: 5% 10%;













