/*--------------- basic styling --------------- */
*{
	margin: 0%;
    padding: 0%;
    list-style:none;
    text-decoration:none;
    font-family:'Arial',sans-serif;
    --colorBlue : rgba(11,36,91,0.8);
    --colorWhite : rgba(255,255,255,1);
    --colorGrey : rgba(64,64,64,1);
    --titresIcones : rgba(11,36,91,1);
    --filter : rgba(5,18,87,0.6);
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("../public/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Thryn";
    src: url("../public/Thryn.ttf") format("truetype");
}















