#footerColor{
	background-color: var(--colorBlue);
}

#imgFooter{
	width: 30vh;
}

#imgLogoOne{
	width: 15vh;
	margin-top: 3vh;
	margin-right: 3vh;
}

#imgLogoTwo{
	width: 15vh;
	margin-top: 3vh;
}

#footerBarOne{
	border-top: 1px solid #f8f9fa; 
	margin: 0 auto; 
	margin-top: 5%;
}

#footerContact{
	color: white
}

.footerText{
	color: white;
}

#footerIco{
	color: white !important;
}

#linkedin{
	color: white;
	font-size: 6vh;
}