footer{
    width: 100%;
    height: 35vh;
    background-color : var(--colorBlue);
}

#adresseBox{
    color: white;
    transform: translate(60vh, 5vh);
    width: 30%;
}

#adresse2{
    letter-spacing: 1px;
    font-size: 2vh;
    background-image: url(../../img/icons/ios-business.svg);
}

#telMobile2{
    letter-spacing: 1px;
    font-size: 2vh;
    background-image: url(../../img/icons/md-call.svg);
}

#adMail2{
    letter-spacing: 1px;
    font-size: 2vh;
    background-image: url(../../img/icons/md-mail.svg);
}

#numFax2{
    letter-spacing: 1px;
    font-size: 2vh;
    background-image: url(../../img/icons/md-print.svg);
}

#linkedin{
    letter-spacing: 1px;
    font-size: 2vh;
    background-image: url(../../img/icons/logo-linkedin.svg);
}

#myLogo{
    background-image: url(../../img/logo/logo4white.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 12%;
    height: 65%;
    transform: translate(60vw, -6vw);
}

#copyright{
    color: var(--colorWhite);
    text-align: center;
    font-size: 2vh;
    transform: translate(-3vh, 5vh);
}

#footerSection {
    width:100%;
    position:relative;
}
@media(max-width: 900px) {

#myLogo{

    width: 30vh;
    height: 20%;
    transform: translate(45vh, -15vh);
}


}

    