footer{
    height: 40vh;
    background-color : var(--colorBlue);
}

#adresseBox{
	transform: translate(10vh, 0vh);
	color: white;
}

#myLogo{
	background-image: url(../../img/logo/logo4white.png); 
    background-repeat: no-repeat;
    position: absolute;
	background-size: contain;
	width: 50%;
	height: 20%;
    transform: translate(70vh, -15vh);
}

#copyright{
	color : var(--colorWhite);
	margin-top: 10vh; 

}
















#adresseSection{
    background-image: url(../../img/logo/logo4white.png);
    background-size: cover; 
    background-repeat: no-repeat;
    position: absolute;
    height: 30vh;
    width: 30vh;
    margin-top: -10%;
    float: right;
}
    