p{
    font-family: "Roboto-Regular";
}

.blockText{
    font-size: 2.75vh;
    text-align: center;
}

.boxPremary{
    padding: 20vh 0;
}

#titleForm{
    font-family: "Thryn";
    top: 18%;
    left: 50%;
    font-size: 5vh;
    width: 100%;
    text-align: center;
}

.containerText {   
    width: 100%;
    margin-top: 5%;
}

.containerText form{
    width: 60%;
    margin: 0 auto;
}

.add-prod{
    margin-top: 5vh;
}

.add-prod button {
    padding: 20px 40px;
    background: var(--colorBlue);
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff !important;
    text-decoration: none;
    border:none;
}

.add-prod button:hover {
    background: #60a3bc;
    color: #f1f2f6;
}

form label, textarea {
    font-family: "Roboto-Regular";
    font-size: 2.5vh;
    letter-spacing: 1px;
    padding: 1vh;
}

.form-control {
    box-shadow: none !important;
    width: 100%;
}

form input, textarea {
    border-radius: 0% !important;  
}

form input:focus, textarea:focus {
    outline: none !important;
    border: 2px solid #000 !important;
}
.inputData {
    margin-bottom: 2vh;
}

.customFileBtn {
    padding:1vh;
    color:white;
    background-color: rgba(44,44,84,0.8);
    margin-bottom:1vh;
}

.labelFile2 {
    padding-top: 3vh;
}

.asterix {
    color: #e74c3c;
}

.acceptLois {
    padding: 0;
    font-size: 1.8vh;
}

.acceptLois::before {
    top: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--colorBlue);
    border: none;
}

.acceptLois::after {
    top: 0;
}

.acceptLois a{
    color:var(--colorBlue);
    text-decoration: underline;
}

.customFileFile {
    padding-bottom: 10vh;
}