p{
    font-family: "Roboto-Regular";
}

.boxPremary{
    padding: 15%;
}

#titileForm{
    position: absolute;
    font-family: "Thryn";
    top: 20%;
    left: 50%;
    font-size: 2em;
    width: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.containerText {   
 transform: translate(12%, 5%); 
}

.add-prod{
    margin-top: 10vh;
}

.add-prod button {
    padding: 20px 40px;
    background: var(--colorBlue);
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff !important;
    text-decoration: none;
    border:none;
}

.add-prod button:hover {
    background: #60a3bc;
    color: #f1f2f6;
}

form label, textarea {
    font-family: "Roboto-Regular";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1vh;
}

.form-control {
    box-shadow: none !important
}

form input, textarea {
    border-radius: 0% !important;  
}

form input:focus, textarea:focus {
    outline: none !important;
    border: 2px solid #000 !important;
}

@media(max-width: 900px) {
    .containerText{
        margin-top: 25vh;
    }
    .add-prod button {
        font-size: 1em;
    }

form label, textarea{
    font-size: 10px
}
}

