/*--------------- MEDIA QUERIES TABLETTE --------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {


/*--------------- HEADER --------------- */

#kaufmann{
	font-size: 9vh;
}

.span{
	right: -25px;
	top: -33px;
	font-size: 2.5em;
}

.titleNav{
	padding-top: 9vh;
}

.logoBaner{
	width: 55px;
	margin-top: -1.3vh;
}

/*--------------- CABINET SECTION --------------- */

#texteSectionOne{
	font-size: 2.8vh;
	padding: 5vh 1vh;
}

#titleOne{
	margin-top: 7vh;
}

.sizeNumber{
	font-size: 10vh;
}

.expertiseNumber{
	font-size: 3.5vh;
}


/*--------------- SERVICE SECTION --------------- */

#globalBox{
    display: flex;
    flex-direction: column;
}

#globalBox div{
	width: 96%;
}

.serviceSection{
	margin-top: 3vh;
}

.titleServices{
	font-size: 2vh;
}

.listeServices{
	font-size: 2vh;
}

/*--------------- CONTACT SECTION --------------- */

#boxTwo{
	height: 110vh;
}

#boxContner{
    flex-direction: column;
    height: 40vh;
}

#imgContact{
	height: 110vh;
}

#twoBox{
	width: 70%;
}

#boxAdresse{
	padding: 2vh 3vh 5vh;
	margin-top: 40vh;
}

.textBtn{
	font-size: 3vh;
}

/*--------------- NEWSLATTER SECTION --------------- */



/*--------------- FORM SECTION --------------- */







}