/*--------------- MEDIA QUERIES MOBILE --------------- */

@media(max-width: 900px) {

h2{
    font-size: 4vh;
}
/*--------------- HEADER --------------- */

#titleHeader{
    top: 50%;
    left: 50%;
}

#kaufmann{
    font-size: 6vh;
    text-align: center;
    color : var(--colorWhite);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -70%);
    letter-spacing: 3px;
}

#textOne{
    margin-top: 17vh;
    font-size: 2.5vh;
    font-family: "Thryn";
    transform: translate(0%, -50%);
}

.sarl{
    font-family: "Thryn";
    font-size: 3vh;
    transform: translate(-20%, -15%); 
}

.sarl::before{  
    margin-left: 20%;
    float: left;
    background: white;
    height: 2px;
    width: 50px;
}

.sarl::after{
    margin-right: -25%;
    float: right;
    background: white;
    height: 2px;
    width: 50px;
}

#animGif{
    margin: 110px -40px auto;
}

/*--------------- CABINET SECTION --------------- */


.titleNav{
    font-size: 5vh;
}

#contact{
    margin-top: -3vh;
}

#bluBoxOne{
    height: 100vh;
}

.filterOne{
    height: 105vh;
}

#filterTwo{
    height: 105vh;
}

#imgContact{
    height: 105vh;
}

#titleOne{   
    font-size: 4vh;
}

#texteSectionOne{
    font-size: 2.5vh;
    padding: 4vh 4vh;
}

#texteSectionTwo{
    font-size: 2.2vh;
    text-align: center;
    letter-spacing: 2px;
    padding: 8% 4%;
}

#experiences{
    flex-direction: column;
    align-items: center;
}

.sizeNumber{
    font-size: 8vh;
}

#titleOne{   
    margin-top: 5%;
    padding: 1vh;
}

/*--------------- SERVICE SECTION --------------- */

.serviceBox{
    font-size: 2.5vh;
    width: 100%;
    margin: 0;
    padding: 0vh 7vh 0vh;
}

#globalBox{
    display: flex;
    flex-direction: column;
}

#globalBox div{
    width: 100%;
}

/*--------------- CONTACT SECTION --------------- */

#bluBoxTwo{
    height: 110vh;
}

#imgBoxOne{
    height: 105vh;
}

#boxContner{
    flex-direction: column;
    height: 40vh;
}

#boxAdresse{
    height: 40vh;
    margin-top: 40vh;
}

#twoBox{
    width: 100%;
}

#boxContactOne{
    background-color: var(--colorWhiteOp);
    padding: 2vh 5vh 3vh;
    margin-bottom:3vh;
    font-weight: bold;
}

#boxContactTwo{
    padding: 1vh 5vh 2vh;
}

.textBtn{
    font-size: 2.7vh;
    font-weight:bold;
}

/*--------------- NEWSLATTER SECTION --------------- */

.newsletter {
    padding: 18vh 0;
}

::placeholder {
    font-size: 2vh;
    letter-spacing: 3px;
}

.wow {
    font-size: 3vh;

}

/*--------------- FORM SECTION --------------- */

.containerText{
    margin-top: 25vh;
}
    .add-prod button {
    font-size: 1em;
}

form label, textarea{
    font-size: 10px
}

#titileForm{
    top: 25%;
}