/*--------------- MEDIA QUERIES IPHONEX --------------- */

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

/*--------------- NAV --------------- */
#resize ul li a{
	font-size: 2.5vh;
	margin-top: 10vh;
}

.sarl::before{
	margin-left: 9%;
}

/*--------------- HEADER --------------- */


	#kaufmann{
		font-size: 5vh;
	}

	.span{
		font-size: 2.5em;
	}

	.logoBaner{
		width: 55px;
	    margin-top: 1vh;
	    margin-left: -3vh;
	}

	.sarl{
		font-size: 2.6vh;
	}

	.close-btn{
		right: 2.9vh;
	}


	/*--------------- CABINET SECTION --------------- */

	#texteSectionOne{
		margin-top: -4vh;
	}



	/*--------------- SERVICE SECTION --------------- */

	.titleServices{
		width: 35vh;
		margin-bottom: 5vh;
	}

	/*--------------- CONTACT SECTION --------------- */

	#boxAdresse{
		padding: 1vh 1vh 5vh;
		height: 30vh;
		margin-top: 37vh;
	}

	.textBtn{
		font-size: 1.4em;
	}


	/*--------------- NEWSLATTER SECTION --------------- */

	.newsletter h1{
		font-size: 4vh;
	}

	::placeholder {
		letter-spacing: 1px;
		color: black;
	}

	/*--------------- FORM SECTION --------------- */

	.blockText{
		margin-left: -6vh;
		margin-top: -5vh;
	}

    .wow{
    	width: 42vh;
    }

	/*--------------- TEXTES DE LOIS --------------- */

	#textePresentation {
		padding: 15vh 3vh !important;
	}

}