/*--------------- MEDIA QUERIES TABLETTE --------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {

	/*--------------- NAV --------------- */

	#resize .menu{
		transform: translateX(-30%);
		margin-top: 10vh;
	}

	/*--------------- HEADER --------------- */

	#kaufmann{
		font-size: 9vh;
	}

	.span{
		right: -25px;
		top: -33px;
		font-size: 2.5em;
	}

	.titleNav{
		padding-top: 8vh;
	}

	.logoBaner{
		width: 55px;
	}

	#animGif {
		margin: 18vh -5vh auto;
	}

	/*--------------- CABINET SECTION --------------- */

	#texteSectionOne{
		font-size: 2.8vh;
		padding: 5vh 1vh;
	}

	#titleOne{
		margin-top: 7vh;
	}

	.sizeNumber{
		font-size: 10vh;
	}

	.expertiseNumber{
		font-size: 3.5vh;
	}


	/*--------------- SERVICE SECTION --------------- */

	#globalBox{
		display: flex;
		flex-direction: column;
	}

	#globalBox div{
		width: 96%;
	}

	#listeServicesOne{
		line-height:3vh;
		font-size: 2vh;
	}

	.serviceSection{
		margin-top: 3vh;
		font-size: 3vh;
		height: 10vh;
		padding: 5vh;
	}

	.titleServices{
		font-size: 2vh;
	}

	.listeServices{
		font-size: 2vh;
	}

	/*--------------- CONTACT SECTION --------------- */

	#boxTwo{
		height: 110vh;
	}

	#boxContner{
		flex-direction: column;
		height: 34vh;
	}

	#imgContact{
		height: 110vh;
	}

	#twoBox{
		width: 75%;
	}

	#boxAdresse{
		padding: 2vh 3vh;
		margin-top: 40vh;
		width: 75%;
	}

	.textBtn{
		font-size: 2.5vh;
	}

	#boxContactOne {
		background-color: var(--colorWhiteOp);
		padding: 4vh 2vh;
		padding-top: 2vh;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	#boxContactTwo {
		background-color: var(--colorWhiteOp);
		padding: 4vh 2vh;
		padding-top: 2vh;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	.myBtn {
		width:75%;
	}

	/*--------------- NEWSLATTER SECTION --------------- */



	/*--------------- FOOTER --------------- */

	#imgFooter{
		width: 14vh;
	}

	#imgLogoOne{
		width: 5vh;
	}

	#imgLogoTwo{
		width: 5vh;
	}

	.dataTime{
		width: 30vh;
	}

	/*--------------- TEXTES DE LOIS --------------- */

	#textePresentation {
		padding: 15vh 5vh !important;
	}

	/*--------------- FORMULAIRES --------------- */

	.containerText {
		transform: translate(10%, 14%);
    	padding-bottom: 20vh;
	}

}