/*--------------- MEDIA QUERIES IPHONEX --------------- */

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

/*--------------- HEADER --------------- */


	#kaufmann{
		font-size: 5vh;
	}

	.span{
		font-size: 2.5em;
	}

	.logoBaner{
		width: 50px;
		margin-top: -1vh;
		margin-left: -4vh;
	}

	.sarl{
		font-size: 2.6vh;
	}

	/*--------------- CABINET SECTION --------------- */





	/*--------------- SERVICE SECTION --------------- */

	.titleServices{
		width: 35vh;
		margin-bottom: 9vh;
	}

	/*--------------- CONTACT SECTION --------------- */

	#boxAdresse{
		padding: 1vh 1vh 5vh;
		height: 30vh;
		margin-top: 43vh;
	}

	.textBtn{
		font-size: 1.5em;
	}


	/*--------------- NEWSLATTER SECTION --------------- */

	.newsletter h1{
		font-size: 4vh;
	}

	::placeholder {
		letter-spacing: 1px;
		color: black;
	}

	/*--------------- FORM SECTION --------------- */

	.blockText{
		margin-left: -6vh;
		margin-top: -5vh;
	}

    .wow{
    	width: 35vh;
    }

	/*--------------- TEXTES DE LOIS --------------- */

	#textePresentation {
		padding: 15vh 3vh !important;
	}

}