html body{
    background-color : rgba(241, 242, 246,1.0);
}


#mentionsLegales{
	text-align: center;
	color: var(--colorBlue);
	font-size: 5vh;
}

#textePresentation{
	padding: 15vh 15vh;
}

.texteIntro{
	color: var(--colorBlue);
	padding: 5vh 5vh;
	font-size: 3vh;
}

#textePresentation a {
	color: var(--colorBlue);
}