/*--------------- NAV --------------- */

a{
    color: white;
}

.nav {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 2;
}

.nav.scrolled {
    background-color: rgba(11,36,91); !important;
    transition: background-color 500ms linear;
    z-index: 2;
}

.logoBaner{
    width: 45px;
}

.nav #brand {
    float: left;
    display: block;
    margin-left: 40px;
    line-height: 70px;
    text-transform: uppercase;
}

.nav #brand a {
    color: #fff;
    font-family: "Roboto-Regular" !important;
    transition: all 500ms ease-out;
}

.nav #brand a:hover {
    text-decoration: none;
}

.nav #menu {
    float: left;
    right: 40px;
    position: fixed;
}

.nav #menu li {
    padding-left: 60px;
    display: inline-block;
    font-weight: lighter !important;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 80px;
    position: relative;
    transition: all 500ms ease-out;
}

.nav #menu li a {
    font-family: "Roboto-Regular" !important;
    transition: all 500ms ease-out;
}

.nav #menu li a:hover {
    text-decoration: none;
    color: #ecf0f1;
    transition: all 500ms ease-out;
}

#toggle {
    position: absolute;
    right: 40px;
    top: 20px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 2;
    width: 30px;
    height: 30px;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.span{
    position: absolute;
    right: -17px;
    top: -27px;
    line-height: 80px;
    font-size: 1.5em;
}

.close-btn {
    position: absolute;
    right: 30px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 2;
    top: -2px;
    line-height: 80px;
    cursor: pointer;
    font-size: 1.5em;
}

#resize {
    z-index: 2;
    top: 0px;
    position: fixed;
    background: rgba(11,36,91);
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize #menu {
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
    margin-top: -5vh;
}

#resize #menu li {
    display: block;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    min-height: 50px;
    font-weight: bold;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 75px;
}

#resize #menu li a {
    color: #fff;
}

#resize #menu li a:hover {
    text-decoration: none;
}

#resize.active {
    visibility: visible;
    opacity: 1;
}
@media(max-width: 900px) {


#toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 4px;
    margin-right: 4px;
}

nav #brand {
    margin-left: 10px;
}

#resize ul li a {
    font-size: 15px;
    font-family: "Roboto-Regular" !important;
    font-weight: lighter !important;
    color: rgba(255,255,255,1) !important;
    transition: all 500ms ease-out;
}

nav #menu {
    display: none;
}
}

@media(min-width: 900px) {
      
#resize {
    visibility: hidden !important;
}
}