/*--------------- BASIC STYLING --------------- */
*{
	margin: 0%;
    padding: 0%;
    list-style:none;
    text-decoration:none;
    --colorBlue : rgba(44, 44, 84,1.0);
    --colorWhite : rgba(247, 241, 227,1.0);
    --colorWhiteOp : rgba(255,255,255,0.5);
    --colorBlack : rgba(0,0,0,0.1);
    --titresIcones : rgba(11,36,91,1);
    --filter : rgba(5,18,87,0.3);
}

html body{
    background-color : rgba(241, 242, 246,1.0);

}

@font-face {
  	font-family: "Roboto-Regular";
  	src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Thryn";
    src: url("../../fonts/Thryn.ttf") format("truetype");
}

/*------------------- SCROLLBAR -----------------*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #222f3e;    
}
 
::-webkit-scrollbar-thumb {
    background: #222f3e;
}

/*--------------- BODY SECTION START HERE --------------- */

.titleNav{
    font-size: 8vh;
    font-family: "Thryn";
    color: var(--colorBlue);
    text-align: center;
    letter-spacing: 2px;
    font-weight:bold;
    padding-top: 11vh;
    margin-bottom: 5vh;
}

/*--------------- CABINET SECTION --------------- */


#cabinet{
    font-size: 7vh;
}

#texteSectionOne{
    font-size: 3.5vh;
    padding: 5vh 15vh;
    text-align: center;
    font-family: "Roboto-Regular";
    color: black;
    margin-bottom: 15vh;
    margin-top: 10vh;
}

#BoxOne{
    position: relative;
    width: 100%;
    height: 100vh;
}

#titleOne{   
    font-family: "Thryn";
    text-align: center;
    color: var(--colorWhite);
    letter-spacing: 2px;
    margin-top: 13vh;
}

#filterTwo{
    background-color : var(--filter);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

#barOne{
    transform: translate(12%, 5%); 
    height:2px;
    width:80%;
    background-color: var(--colorWhite);
}

#texteSectionTwo{
    font-size: 3vh;
    text-align: center;
    letter-spacing: 2px;
    padding: 5% 10%;
    font-family: "Roboto-Regular";
    color: var(--colorWhite);
}

#expertise{
    margin-top: 20vh;
}

#imgBoxOne{
    height: 100vh;
}

#experiences{
    display: flex;
    text-align: center;
    width: 100%;
}

.sizeNumber{
    font-size: 15vh;
    font-family: "Roboto-Regular";
    color: var(--colorWhite);
    text-align: center;
    word-spacing: 30vh;
}

.experienceOne{
    font-family: "Roboto-Regular";
    color: var(--colorWhite);
    width: 50%;
}

.experienceTwo{
    font-family: "Roboto-Regular";
    color: var(--colorWhite);
    width: 50%;
}

/*--------------- SERVICES SECTION --------------- */

#globalBoxService{
    margin-bottom: 12vh;
}

#globalBox{
    display: flex;
}


#globalBox div{
    width:50%;
}

.sizeVideo{
    width: 100%;
}

.serviceSection{
    font-family: "Roboto-Regular";
    font-size: 4vh;
    color: var(--colorBlue);
    font-weight: bold;
    height: 6vh;
    text-align: center;
}

.customIco{
    color: var(--colorBlue);
}

.titleServices{
    color: black;
    margin-top: 5vh;
    font-size: 2.5vh;
}

.serviceBox{
    font-family: "Roboto-Regular";
    margin: -1vh 3vh;
    padding: 0vh 5vh 0vh;
}

.listeServices{
    margin-left: -5vh;
    letter-spacing: 0.1vh;
    line-height: 5vh;
}

.liPuce{
    display: list-item;
    background-image: url(../../img/icons/ios-checkmark-circle-outline.svg);
    background-size: 25px;
    background-position: 5px 0px;
    background-repeat: no-repeat;
    padding: 2px 0 0px 35px;
}

/*--------------- CONTACT SECTION --------------- */

#boxTwo{
    position: relative;
    width: 100%;
    height: 100vh;
}

#imgContact{
    
    height: 100vh;
}

.filterOne{
    background-color : var(--filter);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

#contact{
    color: var(--colorWhite);
}

#contactTwo{
    color: var(--colorWhite);
}


#boxContner{
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

#boxAdresse{
    background-color: var(--colorWhiteOp);
    padding: 2vh 5vh 5vh;
    height: 35vh;
}

#coordonnees{
    font-family: "Thryn";
    font-size: 4vh;
    letter-spacing: 2px;
    color: var(--colorBlue);
    font-family: "Roboto-Regular"!important;
}

#adresse{
    letter-spacing: 1px;
    font-size: 3vh;
    color: rgba(0,0,0 ,1);
}

#telMobile{
    letter-spacing: 1px;
    font-size: 3vh;
    color: rgba(0,0,0 ,1);
}

#adMail{
    letter-spacing: 1px;
    font-size: 3vh;
    color: rgba(0,0,0 ,1);
}

#numFax{
    letter-spacing: 1px;
    font-size: 3vh;
    color: rgba(0,0,0 ,1);
}

#boxContactOne{
    background-color: var(--colorWhiteOp);
    padding: 2vh 5vh 5vh;
    margin-bottom:3vh;
    font-weight:bold;
}

#boxContactTwo{
    background-color: var(--colorWhiteOp);
    padding: 2vh 5vh 5vh;
    margin-bottom:3vh;
    font-weight:bold;
}

#twoBox{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

.myBtn {
    width: 75%;
    padding: 2vh;
    border: none;
    background-color: rgba(11,36,91,1);
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 1em;
    font-size: 2.5vh;
    outline: none;
}

.myBtn:hover {
     background: #60a3bc;
     color: #f1f2f6;
     text-decoration: none;
}

.btnSeeMore{
    width: 5vh;
    height: 5.2vh;
    border: none;
    background: transparent;
    padding: 3px 1px;
    margin: .5vh;
}

.btnSeeMore:hover {
     color: #007bff;
}

/*--------------- NEWSLETTER SECTION --------------- */

.newsletter {
    padding: 20vh 0vh;
    background-color : rgba(241, 242, 246,1.0);
}

.newsletter .news-data {
    margin: 0 auto;
    text-align: center;
    position: relative;
    max-width: 640px;
}

.newsletter h2 {
    color : var(--colorBlue);
    margin-bottom: 50px;
}

.newsletter .form-control {
    height: 50px;
    border-color: var(--colorBlue);
    border-radius: 0;
}


::placeholder {
    letter-spacing: 4px;
    color: black;
}

.newsletter .btn {
    min-height: 50px;
    padding: 0 12px;
    border-radius: 0;
    background-color: var(--colorBlue);
    color: #fff;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}

.newsletter .btn:hover {
   background: #60a3bc;
   color: #f1f2f6;
}

#apiGoogle{
    height: 40vh;
    margin-bottom: 0;
}

#apiGoogle iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/*--------------- PRELOADER --------------- */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../img/loader.gif) center no-repeat rgba(241, 242, 246,1.0);
    background-size: 10vh;
}