/*==============================================
    BASIC  STYLES    
    =============================================*/
*{
    --mainColor:#3b4f7c; 
    --navActive: #3f51b5;
    --navActiveSub: #64A2DB;
    --adminGrey: #243167;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
    background: var(--adminGrey);
}

#wrapper {
    width: 100%;
    background: var(--adminGrey);
}

#page-wrapper {
    padding: 0;
    background: #F3F3F3;
}

#page-inner {
    width: 100%;
    margin: 0;
    background-color: #fff!important;
    padding: 10px;
    min-height:120vh;
}

#page-inner .row {
    margin: 0;
}

.page-head-line {
    font-size: 30px;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style:italic;
    margin-bottom:30px;
    border-bottom:1px dashed var(--mainColor);

}


/*==============================================
    MENU STYLES    
    =============================================*/

.adminHeaderRetour {
    background: var(--navActiveSub);
    color: white!important;
    display: flex;
    align-items: center;
}
.adminHeaderRetour i{
    padding-right: 1vh;
}

.navbar-cls-top .navbar-brand {
    color: #fff;
    background: var(--adminGrey);
    width: 260px;
    text-align: center;
    height: 75px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 900;
    padding-top: 25px;
    text-transform:uppercase;
}

.header-right {
    color: #fff;
    padding: 15px 50px 5px 50px;
    float: right;
    font-size: 16px;
}

.navbar-cls-top .navbar-brand:hover {
    background: var(--adminGrey);
    color: #fff;
}

.active-menu {
    background-color: var(--navActiveSub)!important;
}
.active-menu-top {
    background-color: var(--navActive)!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

    .nav-second-level li a {
        padding-left: 37px;
    }

    .nav-third-level li a {
        padding-left: 55px;
    }

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

    .sidebar-collapse .nav {
        padding: 0;
    }

        .sidebar-collapse .nav > li > a {
            color: #fff;
            background: var(--adminGrey);
            text-shadow: none;
            padding: 15px 40px;
            /* border-bottom: 1px solid white; */
        }

    .sidebar-collapse > .nav > li > a {
        padding: 15px 10px;
        padding-left: 25px;
    }

    .sidebar-collapse .nav > li > a:hover,
    .sidebar-collapse .nav > li > a:focus{
        background: var(--navActive);
        outline: 0;
    }



.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}

.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: var(--adminGrey);
}

.navbar-cls-top {
    background: var(--adminGrey);
    border-bottom: none;
}


.navbar-default {
    border: 0px solid black;
}

.navbar-header {
    background: var(--adminGrey);
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: var(--mainColor);
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    margin-top: 15px;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

.nav > li > a > i {
    margin-right: 10px;
}

.adminTableTitles th, .adminTableTitles td{
    text-align:center;
}

.trCandid {
    padding:17px!important;
}
/*==============================================
    FOOTER  STYLES    
    =============================================*/
#footer-sec {
    background-color:#000;
    padding:20px 50px;
    color:#fff;
    font-size:12px;
}

    #footer-sec a {
        color:#fff;
    }
    #footer-sec a:hover,a:focus {
        color:#fff;
        text-decoration:none;
    }
/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media (min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 0;
        min-height: 100vh;
    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

    .navbar {
        border-radius: 0px;
    }
}
@media (max-width:768px) {

    .header-right{
        width: 80%;
        margin: 0px 10%;
        padding: 10px 0;
    }

}
